@use "../../styles/mixins.scss" as *;

.incomesList,
.expensesList {
  @include list;

  & h2 {
    @include headerList;
  }

  & .incomesContainer,
  .expensesContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .incomesList,
  .expensesList {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .incomesList,
  .expensesList {
    width: 80%;
  }
}
