.incomeItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #EFEFEF;
    min-width: 75%;
    margin: 15px;
    border-radius: 5px;

    h3::first-letter {
       text-transform: uppercase;
    }
    h3 {
        margin: 15px;
    }

    & span:first-of-type {
        font-weight: bold;
        color: green;
        margin: 15px;
    }
    & span:last-of-type {
        font-style: italic;
        margin: 15px;

    }

    button {
        width: 5em;
        height: 2.5em;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        text-align: center;
        color: #fff;
        background-color: #e74c3c;
        margin-right: 10px;
    }
}