@use '../../styles/variables.scss' as *;

.confirmBtn {
  cursor: pointer;
  margin: 0 $mediumMargin;
  padding: $smallPadding $mediumPadding;
  background-color: $confirmBtnColor;
  color: $themeSecondColor;
  border: none;
  border-radius: $borderSize;
  line-height: 1.75;
  font-weight: 500;
}
