@use '../../styles/variables.scss' as *;

.confirmBtn {
  cursor: pointer;
  margin: 0 $medium-margin;
  padding: $small-padding $medium-padding;
  background-color: $confirmBtnColor;
  color: $themeSecondColor;
  border: none;
  border-radius: $border-size;
  line-height: 1.75;
  font-weight: 500;
}