@use './variables.scss' as *;

@mixin list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  min-height: 70vh;
  width: 35%;
  background-color: $themeSecondColor;
  margin: $big-margin;
  border-radius: $border-size;
  padding: 0 $large-padding $big-padding;
}

@mixin item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid $themeFirstColor;
  min-width: 97%;
  margin: $small-margin;
  border-radius: $border-size;
}

@mixin dangerBtn {
  justify-self: flex-end;
  width: 5em;
  height: 2.5em;
  cursor: pointer;
  border: none;
  border-radius: $border-size;
  text-align: center;
  color: $themeSecondColor;
  background-color: $mainRed;
  margin: $medium-margin;
}

@mixin headerList {
  font-family: $fontHeader;
  width: 100%;
  height: 100%;
  text-align: center;
}
