$fontHeader: 'Rammetto One', cursive;
$mainFont: Roboto, sans-serif;

$themeFirstColor: #efefef;
$themeSecondColor: #fff;
$confirmBtnColor: #f30086;
$mainRed: #e74c3c;
$mainGreen: #038003;

$small-padding: 5px;
$medium-padding: 15px;
$large-padding: 20px;
$big-padding: 50px;

$small-margin: 5px;
$medium-margin: 10px;
$large-margin: 15px;
$big-margin: 20px;

$border-size: 5px;