$fontHeader: 'Rammetto One', cursive;
$mainFont: Roboto, sans-serif;

$themeFirstColor: #efefef;
$themeSecondColor: #fff;
$confirmBtnColor: #f30086;
$mainRed: #e74c3c;
$mainGreen: #038003;

$smallPadding: 5px;
$mediumPadding: 15px;
$largePadding: 20px;
$bigPadding: 50px;

$smallMargin: 5px;
$mediumMargin: 10px;
$largeMargin: 15px;
$bigMargin: 20px;

$borderSize: 5px;
