@use '../../styles/variables.scss' as *;

form {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  & div {
    margin: $small-margin;
  }

  & .radioLabel {
    font-family: 'Rammetto One', cursive;
  }

  & .budgetInput {
    padding: $small-padding;
    border: 0;
    border-radius: $border-size;
    margin: $small-margin $medium-margin;
    width: 12vw;
  }

  & .categoryList {
    align-self: center;
    padding: $small-padding;
    border: none;
    border-radius: $border-size;
    margin: $small-margin 0;
  }

  & .warning {
    font-size: 12px;
    font-weight: bold;
    color: $mainRed;
    margin: 0;
  }
}

.listsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50%;
}

@media (max-width: 600px) {
  form {
    flex-direction: column;
    align-items: center;

    .budgetInput {
      width: 12rem;
      height: 1.5rem;
      margin: 2px;
    }
  }
  .listsContainer {
  flex-direction: column;
  }
}


@media (max-width: 1024px) {
  .listsContainer {
  flex-direction: column;
  }
}